// Colors
$bg-color: #1A1E28;
$content-color: #272A38;
$content-bg-color: #232532;
$font-color: #FFFFFF;
$btn-color: #303549;
$btn-click-color: #1E3450;
$btn-blue-color: #0089FF;
$warning-color: #EB5757;

//$header1: #103240;
//$header2: #1D6373;
//$menu: #002A38;
//$main1: #4995A6;
//$main2: #1D6373;
//$main3: #4995A6;
//$main4: #103240;
$timeline-line: #DD7A00;
$timeline-bg:#246498;
//$link: #DD7A00;
$link-reg: #C13500;
$link-reg-hover: #8F2607;

//////////////////
$header1: #1E3450;
$header2: #1E3450;
$menu: #1E3450;
$main1: #13456E;
$main2: #13456E;
$main3: #13456E;
$main4: #1E3450;
$link: #246498;
$link-hover: #13456E;

//От темного к светлому
$gazprom0: #13456E;
$gazprom1: #0A77C0;
$gazprom2: #0079C2;
$gazprom3: #117EC7;
$gazprom4: #1684CD;
$gazprom5: #1D8AD3;


// Fonts
$text: #434343;
